<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018625403742-duqpfcbiti60u6t2jttteqcvarbno97r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018625403742-duqpfcbiti60u6t2jttteqcvarbno97r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018625403742-4l7v71ntnf2dajj02761kdfsib355rfe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQtww9AL1bETUbyak01Z87Hus77OiOclE</string>
	<key>GCM_SENDER_ID</key>
	<string>1018625403742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ariztiaApp</string>
	<key>PROJECT_ID</key>
	<string>el-chaski-delivery-bolivia</string>
	<key>STORAGE_BUCKET</key>
	<string>el-chaski-delivery-bolivia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018625403742:ios:dd765c476d1e1502f43dcf</string>
	<key>DATABASE_URL</key>
	<string>https://el-chaski-delivery-bolivia.firebaseio.com</string>
</dict>
</plist>